*{
<meta charset="utf-8">
}* #{extends 'TaskManager/main.html' /}
<h2>パスワード変更</h2>
#{ifErrors}
   <h3>Oops…</h3>

   #{errors}
       <li>${error}</li>
   #{/errors}
#{/ifErrors}
<form action="@{postChangedPassword()}" method="post">
  <dl>
    <dt>パスワード</dt>
    <dd>
      <input type="password" name="oldPassword" size="20" value="${flash.password}" />
    </dd>
    <dt>新しいパスワード</dt>
    <dd>
      <input type="password" name="newPassword" size="20" value="${flash.password}" />
    </dd>
  </dl>
  <p>
    <input type="submit" value="変更する"/>
    <input type="reset" value="入力内容をリセットする">
  </p>
</form>
