*{
<meta charset="utf-8">
}* #{extends 'TaskManager/main.html' /}
<h2>タスクの編集</h2>

<form action="@{postEditedTask()}" method="post">
	<input type="hidden" name="taskId" value="${session.taskId}">
	<p>
		<textarea name="taskName" cols="20" rows="1" placeholder="タイトル">${session.taskName}</textarea>
	</p>
	<p>
		<textarea name="comment" cols="20" rows="2" placeholder="コメント">${session.comment}</textarea>
	</p>
	<p>
		<input type="date" name="deadLine" value="${session.deadLine}" />
	</p>
	<p>
		<input type="submit" />
	</p>
</form>