*{
<meta charset="utf-8">
}* #{extends 'TaskManager/main.html' /}
<style>
  table {
  	font-size:14px;
  	border-color: #999;
	border: 1px solid #bbb;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  table td {
  	padding: 5px;
  }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<h3>未完了のタスク</h3>
<table border="1">
	#{list items: entries, as: 'entry'}
	<tr>
		<td width="100">${entry.name}</td>
		<td width="100">${entry.comment}</td>
		<td width="200">${entry.deadLine.format('yyyy/MM/dd')}</td>
		<td width="50">${entry.isEnd}</td>
		<td width="50">
			<form action="@{toggleIsEnd()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" /> <input
						type="submit" value="完了" />
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
					  Button
					</button>

				</p>
			</form>
		</td>
		<td>
			<form action="@{deleteTask()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" /> <input
						type="submit" value="削除" />
				</p>
			</form>
		</td>
		<td>
			<form action="@{editTask()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" /> <input
						type="submit" value="編集" />
				</p>
			</form>
		</td>
	</tr>
	#{/list}
</table>
<h3>完了済のタスク</h3>
<table border="1">
	#{list items: entries2, as: 'entry'}
	<tr>
		<td width="100">${entry.name}</td>
		<td width="100">${entry.comment}</td>
		<td width="200">${entry.deadLine}</td>
		<td width="50">${entry.isEnd}</td>
		<td width="50">
			<form action="@{toggleIsEnd()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" /> <input
						type="submit" value="未完了" />
				</p>
			</form>
		</td>
		<td>
			<form action="@{deleteTask()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" /> <input
						type="submit" value="削除" />
				</p>
			</form>
		</td>
	</tr>
	#{/list}
</table>

<h2>add your task</h2>

<form action="@{addTask()}" method="post">
	<p>
		<textarea name="taskName" cols="20" rows="1" placeholder="タイトル"></textarea>
	</p>
	<p>
		<textarea name="comment" cols="20" rows="2" placeholder="コメント"></textarea>
	</p>
	<p>
		<input type="date" name="deadLine" />
		<!--     <textarea name="deadLine" cols="20" rows="1" placeholder="yyyyMMdd"></textarea> -->
	</p>
	<p>
		<input type="submit" />
	</p>
</form>
