*{
<meta charset="utf-8">
}* #{extends 'TaskManager/main.html' /}

<h3>未完了のタスク</h3>
#{if pageOnGoing > 0}
<form style="display: inline" action="@{list()}" method="get">
	<input type="hidden" name="pageOnGoing" value="${pageOnGoing-1}">
	<input type="hidden" name="pageAccomplished" value="${pageAccomplished}">
	<input type="hidden" name="isOnAccomplished" value="${isOnAccomplished}">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	前のページ</button>
</form>
#{/if}
#{if pageOnGoingIsLast == false}
<form style="display: inline" action="@{list()}" method="get">
	<input type="hidden" name="pageOnGoing" value="${pageOnGoing+1}">
	<input type="hidden" name="pageAccomplished" value="${pageAccomplished}">
	<input type="hidden" name="isOnAccomplished" value="${isOnAccomplished}">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	次のページ</button>
</form>
#{/if}
<table border="1">
	#{if entries}
	<tr>
		<td width="100">名前</td>
		<td width="100">コメント</td>
		<td width="100">締め切り</td>
		<td width="100">作成日</td>
	</tr>
	#{/if}
	#{list items: entries, as: 'entry'}
	<tr>
		<td width="100" style="position: relative;">
			<div class = "TaskNameLabel" style="position: absolute;top: 50%;left: 5px;transform: translateY(-50%);-webkit- transform: translateY(-50%);">
				${entry.name}
			</div>
			<div class = "changeTaskNameForm" style="display: none;position: absolute;top: 50%;left: 5px;transform: translateY(-50%);-webkit- transform: translateY(-50%);">
				<!-- <form action="@{changeTaskName()}" method="post" > -->
				<input class = "changedTaskName" type="text" name="taskName" value="${entry.name}" style="width: 50px">
				<input class = "changedTaskId" type="hidden" name="taskId" value="${entry.id}">
				<button class = "changeTaskNameButton">
					変更
				</button>
					<!-- <input type="submit" value="変更" style="display: inline;"> -->
				<!-- </form> -->
			</div>
		</td>
		<td width="100">${entry.comment}</td>
		<td width="100">${entry.deadLine == null ? "未定" :
		entry.deadLine.format('yyyy/MM/dd')}</td>
		<td width="100">${entry.createdDay == null ? "謎" :
		entry.createdDay.format('yyyy/MM/dd')}</td>
		<!-- <td width="50">${entry.isEnd}</td> -->
		<td width="70">
			<input class = "accomplishedTaskId" type="hidden" name="taskId" value="${entry.id}" />
			<button class = "accomplishedButton">
			完了
			</button>
		</td>
		<td>
			<form action="@{deleteTask()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" />
					<input type="submit" value="削除" />
				</p>
			</form>
		</td>
		<td>
			<form action="@{editTask()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" />
					<input type="submit" value="編集" />
				</p>
			</form>
		</td>
	</tr>
	#{/list}
</table>
<h3>完了済のタスク</h3>

<p>
	#{if isOnAccomplished == false}
	<form action="@{list()}" method="get">
		<input type="hidden" name="pageAccomplished" value="${pageAccomplished}">
		<input type="hidden" name="pageOnGoing" value="${pageOnGoing}">
		<input type="hidden" name="isOnAccomplished" value="true">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		on</button>
	</form>
	#{/if}
	#{else}
	<form action="@{list()}" method="get">
		<input type="hidden" name="pageAccomplished" value="${pageAccomplished}">
		<input type="hidden" name="pageOnGoing" value="${pageOnGoing}">
		<input type="hidden" name="isOnAccomplished" value="false">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		off</button>
	</form>
	#{/else}
</p>

#{if pageAccomplished > 0}
<form style="display: inline" action="@{list()}" method="get">
	<input type="hidden" name="pageAccomplished" value="${pageAccomplished-1}">
	<input type="hidden" name="pageOnGoing" value="${pageOnGoing}">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	前のページ</button>
</form>
#{/if}
#{if pageAccomplishedIsLast == false}
<form style="display: inline" action="@{list()}" method="get">
	<input type="hidden" name="pageOnGoing" value="${pageOnGoing}">
	<input type="hidden" name="pageAccomplished" value="${pageAccomplished+1}">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
	次のページ</button>
</form>
#{/if}
<table border="1">
	#{if entries2}
	<tr>
		<td width="100">名前</td>
		<td width="100">コメント</td>
		<td width="100">締め切り</td>
		<td width="100">作成日</td>
	</tr>
	#{/if}
	#{list items: entries2, as: 'entry'}
	<tr>
		<td width="100" style="position: relative;">
			<div ondblclick="changeTaskNameFormActivate(this)" style="position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  -webkit- transform: translateY(-50%);">${entry.name}</div>
			<div style="display: none;position: absolute;top: 50%;
  left: 5px;
  transform: translateY(-50%);
  -webkit- transform: translateY(-50%);">
				<form action="@{changeTaskName()}" method="post" >
					<input type="text" name="taskName" value="${entry.name}" style="width: 50px">
					<input type="hidden" name="taskId" value="${entry.id}">
					<input type="submit" value="変更" style="display: inline;">
				</form>
			</div>
		</td>
		<td width="100">${entry.comment}</td>
		<td width="100">${entry.deadLine == null ? "未定" :
		entry.deadLine.format('yyyy/MM/dd')}</td>
		<td width="100">${entry.createdDay == null ? "謎" :
		entry.createdDay.format('yyyy/MM/dd')}</td>
		<!-- <td width="50">${entry.isEnd}</td> -->
		<td width="70">
			<form action="@{toggleIsEnd()}" method="post" >
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" />
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
						未完了
					</button>
				</p>
			</form>
		</td>
		<td>
			<form action="@{deleteTask()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" /> <input
					type="submit" value="削除" />
				</p>
			</form>
		</td>
		<td>
			<form action="@{editTask()}" method="post">
				<p>
					<input type="hidden" name="taskId" value="${entry.id}" /> <input
					type="submit" value="編集" />
				</p>
			</form>
		</td>
	</tr>
	#{/list}
</table>


<h2>add your task</h2>

<form action="@{addTask()}" method="post">
	<p>
		<textarea name="taskName" cols="20" rows="1" placeholder="タイトル"></textarea>
	</p>
	<p>
		<textarea name="comment" cols="20" rows="2" placeholder="コメント"></textarea>
	</p>
	<p>
		<input type="date" name="deadLine" />
		<!--     <textarea name="deadLine" cols="20" rows="1" placeholder="yyyyMMdd"></textarea> -->
	</p>
	<p>
		<input type="submit" value="追加"/>
	</p>
</form>
<style>
table {
	font-size: 14px;
	border-color: #999;
	border: 1px solid #bbb;
	border-spacing: 0px;
	border-collapse: collapse;
}

table td {
	padding: 5px;
}

table td form p {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.mdl-button {
	padding:0px;
}

</style>

