*{<meta charset="utf-8">}*
#{extends 'TaskManager/main.html' /}
<h2>アンケート回答一覧</h2>

<h3>全員</h3>
<ul>
  *{ リスト全体をループする： #{list items: リスト変数, as: ループ中で参照する変数名} }*
  #{list items: entries, as: 'entry'}
    <li>
      ${entry.name}
      ${entry.comment}
      ${entry.isEnd}
    </li>
  #{/list}
</ul>
<h2>add your task</h2>

<form action="@{addTask()}" method="post">
  <p>
    <textarea name="taskName" cols="20" rows="1" placeholder="タイトル"></textarea>
  </p>
  <p>
    <textarea name="comment" cols="20" rows="2" placeholder="コメント"></textarea>
  </p>
  <p>
    <input type="submit" />
  </p>
</form>


