*{<meta charset="utf-8">}*
#{extends 'TaskManager/main.html' /}
<h2>ユーザー設定</h2>

<p>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='@{changePassword()}'">パスワード変更</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onClick="location.href='@{deleteUser()}'" style="margin-left: 16px">退会</button>
</p>
<style>
p {
    margin-top: 50px;
    margin-left: 50px;
}
</style>